[submodule "luasocket"]
	path = luasocket
	url = https://github.com/diegonehab/luasocket.git
[submodule "luafilesystem"]
	path = luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "lua-cjson"]
	path = lua-cjson
	url = https://github.com/javalikescript/lua-cjson.git
[submodule "luaunit"]
	path = luaunit
	url = https://github.com/bluebird75/luaunit.git
[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv.git
[submodule "luv"]
	path = luv
	url = https://github.com/luvit/luv.git
[submodule "lua-zlib"]
	path = lua-zlib
	url = https://github.com/brimworks/lua-zlib
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "lua"]
	path = lua
	url = https://github.com/javalikescript/lua.git
[submodule "sigar"]
	path = sigar
	url = https://github.com/javalikescript/sigar.git
[submodule "luabt"]
	path = luabt
	url = https://github.com/javalikescript/luabt.git
[submodule "luaserial"]
	path = luaserial
	url = https://github.com/javalikescript/luaserial.git
[submodule "lmprof"]
	path = lmprof
	url = https://github.com/pmusa/lmprof.git
[submodule "lpeg"]
	path = lpeg
	url = https://github.com/javalikescript/lpeg.git
[submodule "lua-openssl"]
	path = lua-openssl
	url = https://github.com/zhaozg/lua-openssl.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "dkjson"]
	path = dkjson
	url = https://github.com/javalikescript/dkjson.git
[submodule "luajls"]
	path = luajls
	url = https://github.com/javalikescript/luajls.git
[submodule "lua-buffer"]
	path = lua-buffer
	url = https://github.com/javalikescript/lua-buffer.git
[submodule "lua-jpeg"]
	path = lua-jpeg
	url = https://github.com/javalikescript/lua-jpeg.git
[submodule "libjpeg"]
	path = libjpeg
	url = https://github.com/javalikescript/libjpeg.git
[submodule "libexif"]
	path = libexif
	url = https://github.com/javalikescript/libexif.git
[submodule "lua-exif"]
	path = lua-exif
	url = https://github.com/javalikescript/lua-exif.git
[submodule "winapi"]
	path = winapi
	url = https://github.com/stevedonovan/winapi.git
[submodule "lua-webview"]
	path = lua-webview
	url = https://github.com/javalikescript/lua-webview.git
[submodule "sha1"]
	path = sha1
	url = https://github.com/mpeterv/sha1.git
